.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    text-align: center;
    width: 82%;
    height:50vh;
    margin: 40px auto;
  }
  
  .newsletter h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .newsletter p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .newsletter-form {
    display: flex;
    gap: 10px;
  }
  
  .newsletter-form input {
    padding-left: 15px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
  }
  
  .newsletter-form button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color:rgb(9, 179, 9) ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsletter-form button:hover {
    background-color:  rgb(7, 159, 7); 
  }
  